/*
  Font
*/


body{
  font-family: "Inter",sans-serif;
  margin: 0;
}
.container-main{
  background: linear-gradient(to right,#87ceeb,#ffc0cb) ;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  width: 70%;
  padding: 1rem;
  background-color: #50545d;
  border-radius: 0.5rem;

  box-shadow: 2px 1px 5px #50545d, 
            -2px -1px 5px #b3f0f0;
}
.calculator > button{
  color: #ffffff;
  background-color: #50545d;
  font-size: 1.5rem;

  border-radius: 100px;
  
  box-shadow: 2px 1px 5px #24262a, 
            -2px -1px 0.5px #b3f0f0;
  
  border: none;

}
.calculator > button:active{
  box-shadow: 
    -2px -1px 0.5px #b3f0f0 inset,
     2px 1px 5px #24262a inset;
}
/*
  Grid Layout

*/
.grid{
  width: 60%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 1rem;
  grid-template-areas:
    "input input input input"
    "ac ac ac divide"
    "seven eight nine multiple"
    "four five six subtract_"
    "one two three add"
    "O O dot_ equal";
}
.item-input{
  grid-area: input;

  text-align: end;
  background-color: #cccccc;
  padding: 1rem;
  font-size: 2rem;
  color: #000000;
  outline: none;

  border: none;
  box-shadow: 
    3px 3px 6px 0 rgba(0, 0, 0, .35)inset,
    -4px -4px 6px 0 rgba(255, 255, 255, 0.3) inset ;
}
.item-ac{
  grid-area: ac;

  border-radius: 100px;
}
.item-multiple{
  grid-area: multiple;
}
.item-divide{
  grid-area: divide;
}
.item-subtract{
  grid-area: subtract_;
}
.item-add{
  grid-area: added;
}
.item-dot{
  grid-area: dot_;
}
.item-equal{
  grid-area: equal;
}
.item-0{
  grid-area: O;
}
.item-1{
  grid-area: one;

}
.item-2{
  grid-area: two;

}
.item-3{
  grid-area: three;
}
.item-4{
  grid-area: four;
}
.item-5{
  grid-area: five;
}
.item-6{
  grid-area: six;
}
.item-7{
  grid-area: seven;
}
.item-8{
  grid-area: eight;
}
.item-9{
  grid-area: nine;
}
