/*
  Font
*/


/* Define the font using @font-face */

/*
  Grid Layout

*/
.grid{
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 0.25rem;
  grid-template-areas:
    "input input input input"
    "ac ac ac divide"
    "seven eight nine multiple"
    "four five six subtract_"
    "one two three add"
    "O O dot_ equal";
}
.item-input{
  grid-area: input;

  text-align: end;
}
.item-ac{
  grid-area: ac;
}
.item-multiple{
  grid-area: multiple;
}
.item-divide{
  grid-area: divide;
}
.item-subtract{
  grid-area: subtract_;
}
.item-add{
  grid-area: added;
}
.item-dot{
  grid-area: dot_;
}
.item-equal{
  grid-area: equal;
}
.item-0{
  grid-area: O;
}
.item-1{
  grid-area: one;

}
.item-2{
  grid-area: two;

}
.item-3{
  grid-area: three;
}
.item-4{
  grid-area: four;
}
.item-5{
  grid-area: five;
}
.item-6{
  grid-area: six;
}
.item-7{
  grid-area: seven;
}
.item-8{
  grid-area: eight;
}
.item-9{
  grid-area: nine;
}
